<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.aerogears.servicesauth" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>aerogear-auth-plugin</name>
    <js-module name="aerogear-auth-plugin" src="www/aerogear-auth-plugin.js">
        <clobbers target="cordova.plugins.aerogear-auth-plugin" />
    </js-module>
</plugin>
